{% extends '::blog.base.html.twig' %}
{% block blog_Post %}
   score: {{ comment.score }}
    <p>Comment:<br>
       {{ comment.comment }}
   </p>
    <h3>Your comment and score was successfully added.</h3>
    <hr>
{% endblock %}