{% extends ':blog/Admin:index.html.twig' %}
{% block blog_Post %}
    <p> {% if nav == 3 %}Add author
        {% elseif nav == 4 %}Add post
        {% elseif nav == 6 %}Add tag
        {% elseif nav == 10 %}Edit post
        {% endif %}
        :</p>
    <hr>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
    {#{{ dump(form) }}#}
{% endblock %}