{% extends 'blog.base.html.twig' %}
{% block blog_Post %}
    <h3>List Authors:</h3>
    <hr>
    <table class="table">
        <thead><tr><th>#</th><th>author</th><th>passw</th><th>dateTime</th></tr></thead>
    {% for author in listObj %}
        <tr>
            <td>{{ loop.index }}. </td>
            <td>{{ author.author }}</td>
            <td>{{ author.passw }}</td>
            <td>{{ author.dateTime|date }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}